{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



</head>

<body>
    <!-- ======= Services Section ======= -->
    <section class="title ">
        <div class="containter-fluid ">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark mynav  ">
                <ul>
                    <li><img src="static/images/logo.png"></li>
                  <li><a class="nav-link scrollto active" href="">Home</a></li>
                  <li><a class="nav-link scrollto " href="about">About Us</a></li>
                  <li><a class="nav-link scrollto" href="#get_started">Get Started</a></li>
                </ul>
                
              </nav><!-- .navbar -->
        <div>
        <div class="row mainpage ">
          <div class="col-lg-6  col-12 p-0 m-0">
            <img class="homeimage image-fluid" src="static/images/home.png" alt="woman holding flowers">
          </div>
          <div class="col-lg-6 col-12 main pt-5">
            <h1 class="memories text-center "><span class="apos">"</span>
                A Healthy Outside starts from Inside</h1>
            <p class="text-center mainpara">
                Gift your child with the happiest and healthiest soul.
                Each one is special and unique, and they have the power to do amazing things.
                Let your child shine in the sky like the warm sun rays!!
            </p>
           <p class="mainbtn text-center ">
            <button type="button" class="btn-lg btn2">
              <a href="#get_started" style="text-decoration: none; color: black;">
                 Get Started
            </a>
         </button>
          </p> 
        
          </div>
          
        </div>
</div>










<div class="formbold-main-wrapper" id="get_started">
    <div class="formbold-form-wrapper">    







      <form method="post" action="{% url 'usermain' %}" >
        {% csrf_token%}
        <div class="form-body">
          <div class="row">
              <div class="form-holder">
                  <div class="form-content">
                      <div class="form-items">
                          <h3>Check BMI</h3>
                          <p>Fill in the data below.</p>
                          <form class="requires-validation" novalidate>

                            <div class="col-md-12 divheight">
                              <input class="form-control" type="number" name="height" placeholder="Height in cm" required>                           </div>

                           <div class="col-md-12 divweight">
                            <input class="form-control" type="number" name="weight" placeholder="Weight in kg" required>
                         </div>









  
                         <div class="col-md-12">
                          <select class="form-select mt-3" name="age" required>
                              <option selected disabled value="">Age</option>
                              <option value="6m-1y">6mnths-1year</option>
                              <option value="1y-2y">1year-2years</option>
                              <option value="2y-3y">2years-3years</option>
                              <option value="3y-4y">3years-4years</option>
                              <option value="4y-5y">4years-5years</option>
                          </select>
                      </div>
                      
  
                         <div class="col-md-12 districtdiv">
                          <select class="form-select mt-3" name="district" required>
                              <option selected disabled value="">District</option>
                              <option value="nandur">Nandur, MH</option>
                          </select>
                      </div>
                      
  
  
                             <div class="col-md-12 mt-5 divgender">
                              <label class="mb-3 mr-1 gend" for="gender">Gender: </label>
                          
                              <input type="radio" class="btn-check" name="gender" id="male" value="male" autocomplete="off" required>
                              <label class="btn btn-md btn-outline-secondary" for="male">Male</label>
                          
                              <input type="radio" class="btn-check" name="gender" id="female" value="female" autocomplete="off" required>
                              <label class="btn btn-md btn-outline-secondary" for="female">Female</label>
                          
                              <input type="radio" class="btn-check" name="gender" id="secret" value="other" autocomplete="off" required>
                              <label class="btn btn-md btn-outline-secondary" for="other">Other</label>
                          </div>
                          

                    
  
                              <div class="form-button  text-center">
                                <p class="mainbtn ">
                                  <button id="submit" type="submit"  class="btn-lg btn">
                                    Calculate BMI
                               </button>
                                </p>                         
                                    </div>

                                    <div class="col-12 form-button">
                                      <button class="btn btn-primary px-5" style="height: 60px;">
                                          Check Now
                                          <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                              <i class="fa fa-arrow-right"></i>
                                          </div>
                                      </button>
                                  </div>




                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </form>



    

























    </div>
  </div>






    </section> 
    
    </section><!-- End Services Section -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </body>
</html>